#body-row {
    margin-left:0px;
    margin-right:0px;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: white;
    padding: 0;
    /* position:fixed; */
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: black;
} 


/* Navbar
#nav {
    position:fixed;
} */

/* Tabs css starts here */

.tabs {
	display: flex;
	flex-wrap: wrap;
    height: 10px;
}

.tabs label {
	order: 1; 
	display: block;
	padding: 10px 15px;
	margin-right: 0.2rem;
    margin-bottom: 0px;
	cursor: pointer;
    background: #90CAF9;
    font-weight: bold;
    transition: background ease 0.2s;
}
.tabs .tab {
    order: 99;
    width: 100%;
    margin-right: 0px;
    display: none;
    background: #fff;
}
.tab{
    width: 100px;
    margin-right: 0px;
}

.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

.body-main {
    background: rgb(235, 230, 230);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.tab{
    height: 100%;
    min-height: 100vh;
}

.tabname{
    border-radius: 8px 8px 0px 0px;
}

/* Table compare page css */


/*End of table*/

.modal {
   position: absolute;
   top: 10px;
   right: 100px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}