{% extends 'designs/base.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col">
    <div class="newtab">
      {% comment %} <input type="radio" name="tabs" id="tabone" checked="checked" />
      <label for="tabone" class="tabname"></label> {% endcomment %}
      <div class="tab px-2" style="height: 50px">
        <button
          type="button"
          class="btn btn-primary"
          id="btnlaunch"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          Launch demo modal
        </button>
        <!-- Modal -->
        <div
          class="modal fade"
          style="position: fixed"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">...</div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block js %}
<script>
  $(function () {
    $('[data-toggle="popover"]').popover({
      html: true,
      title: function () {
        return $("#popover-head").html();
      },
      content: function () {
        return $("#popover-content").html();
      },
    });
  });
</script>
{% endblock %}
