
<div  class="w-100 col-md-12" >
    <ul class="nav nav-tabs" id="nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active"  onclick="removeVenn()" id="pills-full-tab" data-toggle="pill" href="#pills-full" role="tab" aria-controls="pills-full" aria-selected="true"><img src="{% static '/images/full.png' %}"  id="img_venn1" class="mr-1 d-none" style="height: 30px; width: 30px;" alt="extra">Full</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="removeVenn()" id="pills-diff-tab" data-toggle="pill" href="#pills-diff" role="tab" aria-controls="pills-diff" aria-selected="false"><img src="{% static '/images/diffused.png' %}"  id="img_venn2" class="mr-1  d-none" style="height: 30px; width: 30px;" alt="extra">Diffused</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="addVenn()" id="pills-combination-tab" data-toggle="pill" href="#pills-combination" role="tab" aria-controls="pills-combination" aria-selected="false">Combination</a>
        </li>
        <div class="container">
        <div class="row">
        <div class="col-md-12 bg-light text-right">
            <select class="p-1 w-80 "  id="CompCode" name="CompCode" onchange="changecat(this.value)" required>
                    <option>Non-AARC</option>
                    <option >AARC1</option>
                    <option >AARC2</option>
                    <option >AARC3</option>
                    
            </select>
        </div>
    </div>
</div>
    </ul>
    

    <div class="tab-content " id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-full" role="tabpanel" aria-labelledby="pills-full-tab">
            {% include 'designs/full_result.html' %}   
        </div>
        
        <div class="tab-pane fade show" id="pills-diff" role="tabpanel" aria-labelledby="pills-diff-tab">
            {% include 'designs/diffused_result.html' %}
        </div>
        <div class="tab-pane fade" id="pills-combination" role="tabpanel" aria-labelledby="pills-combination-tab">
            {% include 'designs/combination_result.html' %}        
        </div>
    </div>
</div>
