{% load static %}
{% include 'designs/headers.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- end of select2 -->
  <link rel="icon" href="{% static 'images/keva.png' %}" type="image/icon type" />
  <title>Simialrity Website</title>
  <link rel="stylesheet" href="{% static '/designs/css/main.css' %}" />
  <link rel="stylesheet" href="{% static '/designs/css/style.css' %}" />
  <link rel="stylesheet" href="{% static '/designs/scss/style.scss' %}" />
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  
  {% comment %} <script src="{% static '/designs/js/app.js' %}"></script> {% endcomment %}
</head>
 <body id="body-pd">
        <header class="header" id="header">
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>

            <div id="headname">
               <i class="fa fa-user-o fa-2x mt-2 mb-2"> <span>Gautam-99</span> </i>
            </div>
        </header>

        <div class="l-Nnavbar" id="Nnav-bar">
            <nav class="Nnav">
                <div>
                    <a href="#" class="Nnav__logo">
                        <img src="https://www.keva.co.in/sites/all/themes/kelkar/images/logo.png" width="30" height="30" /> 
                        <span class="nav__logo-name">Keva</span>
                    </a>

                    <div id ="actives"class="Nnav__list">
                        <a href="{% url 'topN' %}" class="Nnav__link active">
                        <i class="fa fa-flask fa-fw mr-3" ></i>
                            <span class="nav__name">TopN</span>
                        </a>

                        <a href="{% url 'compareKcode' %}"class="Nnav__link ">
                            <i class="fa fa-dashboard fa-fw mr-3"></i>
                            <span class="nav__name">Compare Code</span>
                        </a>
                        
                        <a href="{% url 'analyse' %}"class="Nnav__link ">
                            <i class="fa fa-pie-chart fa-fw mr-3"></i>
                            <span class="nav__name">Analyse</span>
                        </a>

                        <a href="{% url 'viewimage' %}"class="Nnav__link ">
                            <i class='bx bx-message-square-detail nav__icon'></i>
                            <span class="nav__name">View Image</span>
                        </a>

                        <a href="/admin" class="Nnav__link ">
                            <i class='bx bx-download nav__icon' ></i>
                            <span class="nav__name">Download</span>
                        </a>

                        
                    </div>
                </div>
                <a href="#" class="Nnav__link">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>
            </nav>
        </div>
        {% block content %} {% endblock %}
        <!--===== MAIN JS =====-->
  
  <script>
  const showNavbar = (toggleId, navId, bodyId, headerId) => {
    const toggle = document.getElementById(toggleId),
        nav = document.getElementById(navId);
        bodypd = document.getElementById(bodyId),
        headerpd = document.getElementById(headerId)

    // Validate that all variables exist
    if (toggle && nav && bodypd && headerpd) {
        toggle.addEventListener('click', () => {
            // show navbar
            nav.classList.toggle('show')
            // change icon
            toggle.classList.toggle('bx-x')
            // add padding to body
            bodypd.classList.toggle('body-pd')
            // add padding to header
            headerpd.classList.toggle('body-pd')
        })
    }
}   
showNavbar('header-toggle', 'Nnav-bar', 'body-pd', 'header')

/*===== LINK ACTIVE  =====*/
//const linkColor = document.querySelectorAll('.Nnav__link') 

const linkColor = document.querySelectorAll('.Nnav__link')

function colorLink(){
    if(linkColor){
        linkColor.forEach(l=> l.classList.remove('active'))
        this.classList.add('active')
    }
}
linkColor.forEach(l=> l.addEventListener('click', colorLink))


</script>

{% block js %} {% endblock js %}

</body> 
</html>