{% load static %}
<input
  type="text"
  class="mr-3"
  style="margin-top: -35px; position: absolute; right: 14%"
  id="searchfull"
  placeholder="Search"
/>
<form method="POST" action="#">id="myForm">
  {% csrf_token %}
  <table class="table table-responsive w-100" id="comb_table">
    <thead id="thead" class="thead-dark">
      <!-- <tr>
                <th scope="col" colspan="7" class="text-center border-right color border-white light-green-head"><b>AI Digiscent Results</b>
                </th>
                <th scope="col" colspan="4" class="text-center border-white light-blue-head"><b>User Feedback</b></th>
                <th scope="col" colspan="1" class="text-center border-white light-orange-head"><b>Visualize</b></th>
            </tr> -->
      <tr class="color-head" style="font-size: 18px">
        <th
          scope="col"
          style="background-color: rgb(0, 140, 255)"
          class="text-center"
        >
          Frag Code
        </th>
        <th
          scope="col"
          style="background-color: rgb(0, 140, 255)"
          class="text-center"
        >
          Frag Name
        </th>
        <th
          scope="col"
          style="background-color: rgb(0, 140, 255)"
          class="text-center"
        >
          AI-Match %
        </th>
        <th
          scope="col"
          style="background-color: rgb(0, 140, 255)"
          class="text-center"
        >
          Stock
        </th>
        <th
          scope="col"
          style="background-color: rgb(0, 140, 255)"
          class="text-center"
        >
          Selling Price INR
        </th>
        <th
          scope="col"
          style="background-color: rgb(0, 140, 255)"
          class="text-center"
        >
          Selling Price USD
        </th>
        <th
          scope="col"
          style="background-color: rgb(0, 140, 255)"
          class="text-center"
        >
          Category
        </th>
        <th
          scope="col"
          style="background-color: rgb(0, 140, 255)"
          class="text-center"
        >
          View
        </th>
        <th
          scope="col"
          style="background-color: rgb(0, 140, 255)"
          class="text-center"
        >
          Feedback
        </th>
      </tr>
    </thead>
    <tbody style="font-size: 17px">
      {% for i,j in comb_name.items%} {%for k in j%} {% if k.3 <= 0 %}
      <tr style="background: #cececebf">
        {% else %}
      </tr>
      <tr style="background: transparent">
        {% endif %}
        <td name="fragcode" class="text-center" id="kcode_for_ajax_call">
          <b>{{k.0 | floatformat:2}}</b>
        </td>
        <td name="fragname" class="text-center">
          <b>{{k.1 | floatformat:2}}</b>
        </td>
        <td name="aimatch" class="text-center">{{k.2 | floatformat:2}}</td>
        <td name="stock" class"=text-center">{{k.3 | floatformat:2}}</td>
        {% if k.4 <= 0 %}
        <td class="text-center"></td>
        <input type="text" name="selling_price_inr" class="d-none" value="" />
        {% else %}
        <td class="text-center">{{k.4 | floatformat:2}}</td>
        <input
          type="text"
          name="selling_price_inr"
          class="d-none"
          value="{{k.4}}"
        />
        {% endif %} {% if k.5 <= 0 %}
        <td class="text-center"></td>
        <input type="text" name="selling_price_usd" class="d-none" value="" />
        {% else %}
        <td class="text-center">{{k.5 | floatformat:2}}</td>
        <input
          type="text"
          name="selling_price_usd"
          class="d-none"
          value="{{k.5}}"
        />
        {% endif %} {% if k.6 <= 0 %}
        <td class="text-center"></td>
        <input type="text" name="category" class="d-none" value="" />
        {% else %}
        <td class="text-center">{{k.6 | floatformat:2}}</td>
        <input type="text" name="category" class="d-none" value="{{k.6}}" />
        {% endif %}
        <td class="text-center">
          <button
            type="submit"
            formaction="#"
            name="{{k.0}}"
            class="cbutton"
            value="Compare"
            formnovalidate
          >
            Compare
          </button>
        </td>
        <td class="text-center">
          <button
            type="button"
            id="feedback"
            class="fbutton"
            value=""
            data-placement="left"
            data-container="body"
            data-toggle="popover"
            data-container="body"
            data-placement="left"
          >
            Feedback
          </button>
        </td>
      </tr>
      {%endfor%} {%endfor%}
    </tbody>
  </table>
  <div id="form-container" class="d-none">
    <div class="form-group">
      <select
        class="form-control"
        id="able_disable_{{ forloop.counter }}"
        name="option"
      >
        <option value="-CHOOSE-">-"CHOOSE"-</option>
        <option  value="Yes">Yes</option>
        <option  value="No">No</option>
      </select>
    </div>
    <div class="form-group">
      <select
        class="form-control remove_disable"
        id="percent_dropdown_able_disable_{{ forloop.counter }}"
        name="range"
      >
        <option value="">--RANGE--</option>
        <option name=""value="">0-5</option>
        <option value="">6-10</option>
        <option value="">11-15</option>
        <option value="">16-20</option>
        <option value="">21-25</option>
        <option value="">26-30</option>
        <option value="">31-35</option>
        <option value="">36-40</option>
      </select>
    </div>
    <div class="form-group">
      <textarea
        class="form-control"
        rows="1"
        cols="15"
        id="comment"
        name="comment"
      ></textarea>
    </div>
    <div class="form-group text-center">
      <div id="div_show_{{ forloop.counter }}">
        <input
          class="form-control"
          type="text"
          id="hide_button"
          placeholder="top"
          name="top"
        />
        <input
          class="form-control"
          type="text"
          id="hide_button1"
          placeholder="middle"
          name="middle"
        />
        <input
          class="form-control"
          type="text"
          id="hide_button2"
          placeholder="base"
          name="base"
        />
      </div>
    </div>
    <div class="form-group text-center">
      <button type="submit" id="submit" class="btn btn-info" value="submit">
        Submit
      </button>
    </div>
  </div>

  <div class="container d-flex justify-content-center ml-6">
    <div class="card border-0 rounded my-3" style="width: 50rem">
      <div class="text-center">
        <label for="exampleFormControlTextarea1">
          <h3 style="color: black">Suggestion</h3>
        </label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="1"
          cols="50"
          name="suggestion"
        ></textarea>
      </div>
      <div class="row justify-content-center">
        <button
          value="Submit Feedback"
          id="full_btn"
          class="btn btn-warning btn-lg float-sm-left"
        >
          Submit Feedback
        </button>
        <!-- <input type="submit" value="Submit Feedback" id="submit" class="btn-sm btn-dark mb-2 mx-3 col-3"> -->
      </div>
    </div>
  </div>
</form>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>

<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    $("#comb_table").DataTable({
      bPaginate: false,
      pageLength: 20,
      bLengthChange: false,
      order: [],
      bInfo: false,
      bAutoWidth: false,
      searching: false,
      aoColumns: [
        { sWidth: "10%" },
        { sWidth: "20%" },
        { sWidth: "8%" },
        { sWidth: "8%" },
        { sWidth: "8%" },
        { sWidth: "8%" },
        { sWidth: "20%" },
        { sWidth: "9%" },
        { sWidth: "9%" },
      ],
    });

    var dataTable = $("#comb_table").dataTable();
    $("#searchfull").keyup(function () {
      dataTable.fnFilter(this.value);
    });
  });
  $(document).ready(function () {
    $("#feedback").click(function () {
      $("[data-toggle='popover']").popover({
        content: function () {
          return $("#form-container").html();
        },
        html: true,
        sanitize: false,
      });
    });
    $(".btn-danger").click(function () {
      $("[data-toggle='popover']").popover("hide");
    });
  });
</script>
