{% extends 'designs/base.html' %} {% load static %} {% block content %}
<div class="row" height="200px">
  <div class="col">
    <div id="tabId" class="newtab">
      <div class="tab px-2">
        <select name="select1" class="select_drop" id="drop1" required disabled>
          <option value="selectcard1" disabled selected>
            ---Select option 1---
          </option>
          {% for results in comparenames %}
          <option value="{{results}}">{{results}}</option>
          {% endfor %}
        </select>

        <select name="select2" class="select_drop" id="drop2" required disabled>
          <option value="selectcard2" disabled selected>
            ---- Select option 2----
          </option>
          {% for results2 in comparenames %}
          <option value="{{results2}}">{{results2}}</option>
          {% endfor %}
        </select>
        <select name="select3" class="select_drop" id="drop3" required>
          <option value="selectcard3" disabled selected>---- Select----</option>
          <option>Full-Full</option>
          <option>Diffused-Diffused</option>
          <option>Full-Diffused</option>
        </select>
        <!-- <button id ="submitbtn" >Submit </button> -->
        <div class="d-none" id="res-circle">
          <div class="circle-txt">99!</div>
        </div>
        <div
          style="height: 90vh"
          name="image_section"
          class="imgclass"
          id="image_section"
        >
          {% for i in 3|lrange %}

          <div id="div{{i}}" class="d-none">
            <br />
            {% if i == 2 %}

            <div class="input-group mb-3">
              <input
                type="text"
                class="col-xs-3 float-left"
                placeholder="Threshold Image"
              />
              <div class="input-group-append">
                <button
                  onclick="randomImage()"
                  class="btn btn-info"
                  type="button"
                >
                  Change
                </button>
              </div>
            </div>

            {% endif %}

            <table
              style="font-size: 10px; width: 100%"
              id="example{{forloop.counter}}"
              border="1"
              class="rr{{i}}"
            >
              <thead>
                <tr class="rr{{i}}">
                  {% for j in columns %}
                  <th class="editable">
                    <div>{{j}}</div>
                  </th>
                  {%endfor%}
                </tr>
              </thead>
              <tbody>
                {% for x in row %}

                <tr class="rr{{i}} tr-nth-2nd">
                  {% for j in x %} {% if j == -1 %}
                  <td>
                    <div contenteditable="false"></div>
                  </td>
                  {%elif j|to_int >= 225 and j|to_int <= 255%}
                  <td class="_225-255">
                    <div contenteditable="false">{{j}}</div>
                  </td>
                  {%elif j|to_int >= 200 and j|to_int <= 224%}
                  <td class="_200-224">
                    <div contenteditable="false">{{j}}</div>
                  </td>
                  {%elif j|to_int >= 175 and j|to_int <= 199%}
                  <td class="_175-199">
                    <div contenteditable="false">{{j}}</div>
                  </td>
                  {%elif j|to_int >= 150 and j|to_int <= 174%}
                  <td class="_150-174">
                    <div contenteditable="false">{{j}}</div>
                  </td>
                  {%elif j|to_int >= 125 and j|to_int <= 149%}
                  <td class="_125-149">
                    <div contenteditable="false">{{j}}</div>
                  </td>
                  {%elif j|to_int >= 100 and j|to_int <= 124%}
                  <td class="_100-124">
                    <div contenteditable="false">{{j}}</div>
                  </td>
                  {%elif j|to_int >= 75 and j|to_int <= 99%}
                  <td class="_75-99">
                    <div contenteditable="false">{{j}}</div>
                  </td>
                  {%elif j|to_int >= 50 and j|to_int <= 74%}
                  <td class="_50-74">
                    <div contenteditable="false">{{j}}</div>
                  </td>
                  {%elif j|to_int >= 25 and j|to_int <= 49%}
                  <td class="_25-49">
                    <div contenteditable="false">{{j}}</div>
                  </td>
                  {%else%}
                  <td>
                    div
                    <div contenteditable="false" class="something">{{j}}</div>
                  </td>
                  {%endif%} {%endfor%}
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block js %}
<script>
  // Enabling & Disabling dropdowns

  $("select[name='select3']").change(function () {
    var y = $("#drop3").val();
    console.log(y);
    $("select[name='select1']").removeAttr("disabled");
    $("select[name='select2']").removeAttr("disabled");
    console.log($("select[name='select1']").find("option:selected").text(y));
    console.log($("select[name='select2']").find("option:selected").text(y));
  });

  var counttable = 0;
  $(function () {
    var selected = document.getElementById("drop1");
    var selected2 = document.getElementById("drop2");
    console.log(selected);
    console.log(selected2);

    $("#drop2 , #drop1").change(function () {
      if (
        selected.value === "selectcard1" ||
        selected2.value === "selectcard2"
      ) {
        return false;
      }
      image1 = $("#drop1").val();
      console.log(image1);
      image2 = $("#drop2").val();
      console.log(image2);
      var x = document
        .getElementById("image_section")
        .querySelectorAll(".effectimg");
      for (var i = 0; i < x.length; i++) {
        // x[i].attr.
        x[i].remove();
      }
      console.log($("#drop3").val());
      $.ajax({
        type: "GET",
        url: " {% url 'compareimage' %}",
        data: {
          image_name: image1,
          image_name2: image2,
          option: $("#drop3").val(),
        },
        success: function (data) {
          for (x = 0; x < data.z.length; x++) {
            rows = document.getElementsByClassName("rr" + x);
            console.log(rows);
            for (var i = 3; i < rows.length - 1; i++) {
              for (var j = 0; j < rows[i].cells.length; j++) {
                if (typeof data.z[x][i - 3][j] == "string") {
                  rows[i].cells[j].innerText = data.z[x][i - 3][j];

                  rows[i].cells[j].className = "_0-24";
                } else {
                  rows[i].cells[j].innerText = Math.floor(data.z[x][i - 3][j]);
                  if (parseFloat(rows[i].cells[j].innerText) >= 225) {
                    rows[i].cells[j].className = "_225-255";
                  } else if (parseFloat(rows[i].cells[j].innerText) >= 200) {
                    rows[i].cells[j].className = "_200-224";
                  } else if (parseFloat(rows[i].cells[j].innerText) >= 175) {
                    rows[i].cells[j].className = "_175-199";
                  } else if (parseFloat(rows[i].cells[j].innerText) >= 150) {
                    rows[i].cells[j].className = "_150-174";
                  } else if (parseFloat(rows[i].cells[j].innerText) >= 125) {
                    rows[i].cells[j].className = "_125-149";
                  } else if (parseFloat(rows[i].cells[j].innerText) >= 100) {
                    rows[i].cells[j].className = "_100-124";
                  } else if (parseFloat(rows[i].cells[j].innerText) >= 75) {
                    rows[i].cells[j].className = "_75-99";
                  } else if (parseFloat(rows[i].cells[j].innerText) >= 50) {
                    rows[i].cells[j].className = "_50-74";
                  } else if (parseFloat(rows[i].cells[j].innerText) >= 25) {
                    rows[i].cells[j].className = "_25-49";
                  } else {
                    rows[i].cells[j].className = "_0-24";
                  }
                }
              }
            }
          }
          var a = document.getElementById("div0");
          var b = document.getElementById("div1");
          var c = document.getElementById("div2");
          console.log(a);
          a.classList.remove("d-none");
          a.classList.add("tablenew");
          b.classList.remove("d-none");
          b.classList.add("tablenew");
          c.classList.remove("d-none");
          c.classList.add("tablenew");
        },
      });
    });
  });
  const randomImage = () => {
    $.ajax({
      type: "GET",
      url: " {% url 'randomimage' %}",
      data: {
        image_name3: image2,
        //option: $("#drop3").val(),
      },
      success: function (data) {
        for (x = 0; x < data.z.length; x++) {
          rows = document.getElementsByClassName("rr2");
          for (var i = 3; i < rows.length - 1; i++) {
            for (var j = 0; j < rows[i].cells.length; j++) {
              if (typeof data.z[x][i - 3][j] == "string") {
                rows[i].cells[j].innerText = data.z[x][i - 3][j];

                rows[i].cells[j].className = "_0-24";
              } else {
                rows[i].cells[j].innerText = Math.floor(data.z[x][i - 3][j]);
                if (parseFloat(rows[i].cells[j].innerText) >= 225) {
                  rows[i].cells[j].className = "_225-255";
                } else if (parseFloat(rows[i].cells[j].innerText) >= 200) {
                  rows[i].cells[j].className = "_200-224";
                } else if (parseFloat(rows[i].cells[j].innerText) >= 175) {
                  rows[i].cells[j].className = "_175-199";
                } else if (parseFloat(rows[i].cells[j].innerText) >= 150) {
                  rows[i].cells[j].className = "_150-174";
                } else if (parseFloat(rows[i].cells[j].innerText) >= 125) {
                  rows[i].cells[j].className = "_125-149";
                } else if (parseFloat(rows[i].cells[j].innerText) >= 100) {
                  rows[i].cells[j].className = "_100-124";
                } else if (parseFloat(rows[i].cells[j].innerText) >= 75) {
                  rows[i].cells[j].className = "_75-99";
                } else if (parseFloat(rows[i].cells[j].innerText) >= 50) {
                  rows[i].cells[j].className = "_50-74";
                } else if (parseFloat(rows[i].cells[j].innerText) >= 25) {
                  rows[i].cells[j].className = "_25-49";
                } else {
                  rows[i].cells[j].className = "_0-24";
                }
              }
            }
          }
        }
      },
    });
  };
</script>

{% endblock js %}
