{% extends 'designs/base.html' %}
{% include 'designs/headers.html' %}
{% load static %}
{% block content %}
<div class="container-fluid ml-0">
    {% if changeBtnName %}
        <form action="{% url 'topTable' %}?nonAARC" , method="POST">
        <input type="text" id="aarc" value="nonAARC" class="d-none">
    {% else %}
        <form action="{% url 'topTable' %}" , method="POST">
        <input type="text" id="aarc" value="doNothing" class="d-none">
    {%endif%}
    {% csrf_token %}
    <div id="top_n" class="row">
        <div class="col-3">
            <select class="compname custom-select w-100" id="CompName" style="border-radius: 9px;border:2px solid black;" name="CompName"onchange="changecat_2(this.value)" required>
                    <option value="" disabled selected>Fragrance Name</option>
                    <option >demo1</option>
                    <option >demo2</option>
                    <option >demo3</option>  
            </select>
        </div>
        <div class="col-3">
            <select class="compcode custom-select w-100" id="CompCode" style="border-radius: 9px;border:2px solid black;" name="CompCode" onchange="changecat(this.value)" required>
                    <option>Fragrance Code</option>
                    <option >FC1</option>
                    <option >FC2</option>        
                    <option >FC3</option>
                    <option >FC4</option>
                    <option >FC5</option>
                    <option >FC6</option>
            </select>
        </div>
        <div class="col-2">
            <select class="compname custom-select w-100" style="border-radius: 9px;border:2px solid black;">
                <option>Non-AARC</option>
                <option >AARC1</option>
                <option >AARC2</option>
                <option >AARC3</option>     
            </select>
        </div>
        <div class="col-2">
            <input type="text" class="compcode custom-select w-100" style="border-radius: 9px;border:2px solid black;" placeholder="Number of Top Ingredients" name="top_n" value="20">
           
                <input type="text" class="d-none" value="yes" name="nonAARC">
            
                <input type="text" class="d-none" value="no" name="nonAARC">
        </div>
        <div class="col">
            <button value="Submit" class="btn  w-100 btn-info text-white">Submit</button><br>    
        </div>
        
    </div>
    </form>
    <div>
    </div>
</div>

    {%block table%}{%endblock table%}
  {% endblock content %}

 {% block js %}  
<script>

  //put your jquery code here
        aarc = $('#aarc').val();
        if(aarc == 'doNothing'){
            url =  "{% url 'namesuggest' %}";
            url2 = "{% url 'codesuggest' %}";
        }
        else{
            url =  "{% url 'namesuggest' %}?nonAARC";
            url2 = "{% url 'codesuggest' %}?nonAARC";
        }
    
    $(document).ready(function() {
        $('#CompName').select2({
            ajax: {
                url: url,
                dataType: 'json',
                delay: 1000,
                processResults: function(data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data.results,
                        pagination: {
                            more: (params.page * 10) < data.count_filtered
                        }
                    };
                }
                
            },
            minimumInputLength: 0
        });

        $('#CompCode').select2({
            ajax: {
                url: url2,
                dataType: 'json',
                delay: 1000,
                
                processResults: function(data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data.results,
                        pagination: {
                            more: (params.page * 10) < data.count_filtered
                        }
                    };

                }
            },
            minimumInputLength: 0
        });
    });

    //for changing the code based on the fragrance name
    function changecat_2(data) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:
                document.getElementById("CompCode").innerHTML = xhttp.responseText;
            }
        };
        xhttp.open("GET", "get_code?n=" + data, true);
        xhttp.send();
    };

    //for changing the name based on the fragrance code
    function changecat(data) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:
                document.getElementById("CompName").innerHTML = xhttp.responseText;
            }
        };
        xhttp.open("GET", "get_name?c=" + data, true);
        xhttp.send();
    };

        


</script>

{% endblock js  %}