{% extends 'designs/base.html' %} {% load static %} {% block content %}
<div class="row" height="200px">
    <div class="col">
        <div id="tabId" class="newtab">
            {% comment %} <input type="radio" name="tabs" id="tabone" checked="checked" />
            <label for="tabone" class="tabname">Full</label> {% endcomment %}
            <div class="tab px-2">
                <select name="select1" class="select_drop" id="drop1" required disabled>
                    <option value="selectcard1" disabled selected> ---Select option 1--- </option>
                    <option value="demo1">demo 1</option>
                    <option value="demo2">demo 2</option>
                    <option value="demo3">demo 3</option>
                    <option>demo 4</option>
                    <option value="demo5">demo 5</option>
                    <option value="demo6">demo 6</option>
                    <option value="demo7">demo 7</option>
                    <option>demo 8</option>
                    <option>demo 9</option>
                    <option>demo 10</option>
                    
                </select>
                <select name="select2" class="select_drop" id="drop2" required disabled>
                    <option value="selectcard2" disabled selected>---- Select option 2----</option>
                    <option value="demo1">demo 1</option>
                    <option value="demo2">demo 2</option>
                    <option value="demo3">demo 3</option>
                    <option>demo 4</option>
                    <option value="demo5">demo 5</option>
                    <option value="demo6">demo 6</option>
                    <option value="demo7">demo 7</option>
                    <option>demo 8</option>
                    <option>demo 9</option>
                    <option>demo 10</option>

                </select>
                <select name="select3" class="select_drop" id="drop3"  required>
                    <option value="selectcard3" disabled selected>---- Select----</option>
                    <option>Full-Full</option>
                    <option>Diffused-Diffused</option>
                    <option>Full-Diffused</option>
                </select>
                <!-- <button id ="submitbtn" >Submit </button> -->
                <div class="d-none" id="res-circle">
                    <div class="circle-txt">99!</div>
                </div>
                <div style="height:90vh" name="image_section" id="image_section"
                    class="col-xl-5 col-12 flex-column justify-content-center align-items-center text-center">
                </div>
                
            </div>
            
            
        </div>
    </div>
</div>

{% endblock %} {% block js %}
<script>

    // Enabling & Disabling dropdowns
    function removeOptions(params) {
        for (var i = 0; i < params.length; i++) {
            // debugger;
            // console.log(params[i]);
            $('#drop1 option[value="' + params[i] + '"]').remove()
            $('#drop2 option[value="' + params[i] + '"]').remove()
        }
    }
    function remove(params1, params2) {
        for (var i = 0; i < params1.length; i++) {
            // debugger;
            // console.log(params[i]);
            $('#drop1 option[value="' + params1[i] + '"]').remove()
            $('#drop2 option[value="' + params2[i] + '"]').remove()
        }
    }
    $("select[name='select3']").change(function () {
        var opt = document.getElementById("drop3")
        console.log(opt.value)
        if (opt.value === "Diffused-Diffused") {
            var arr = ['demo1', 'demo2', 'demo3']
            removeOptions(arr);
        } else if (opt.value === "Full-Full") { 
            var arr = ['demo5', 'demo6', 'demo7']
            removeOptions(arr);
        } else {
            var arr1 = ['demo1', 'demo2', 'demo3']
            var arr2 = ['demo5', 'demo6', 'demo7']
            remove(arr1, arr2);
        }
        $("select[name='select1']").removeAttr("disabled");
        $("select[name='select2']").removeAttr("disabled");
    });
    $(function () {
        var selected = document.getElementById("drop1")
        var selected2 = document.getElementById("drop2") 
        console.log(selected)
        console.log(selected2)  
        $("#drop2 , #drop1").change(function () {
            if (selected.value === "selectcard1" ||  selected2.value === "selectcard2") {
               return false
            } 
            image1 = $("#drop1").val();
            console.log(image1);
            var x = document.getElementById("image_section").querySelectorAll(".effectimg");
            for (var i = 0; i < x.length; i++) {
                // x[i].attr.
                x[i].remove()
            }
            $.ajax({
                type: "GET",
                url: " {% url 'showimage' %}",
                data: { image_name: image1 },
                success: function (data) {
                    console.log(data)
                    for (var i = 1; i <= 3; i++) {
                        var url = `static/designs/images/demo${i}.png`;
                        var image = new Image();
                        image.src = url;
                        image.className = 'effectimg'
                        image.width=750;
                        image.id = "demo"+ i              
                        console.log(image.id) 
                        var imageiid= image.id
                        console.log(imageiid)

                        document.getElementById("image_section").appendChild(image);
                              
                        var circle =document.getElementById("res-circle");
                        circle.classList.remove("d-none")
                        console.log(circle)

                        $(document).ready(function(){
                            $(".effectimg").click(function(){
                                $("img").width($("img").width()+65);
                                });
                            });
                       
                             
                    }
                    var button = document.createElement("Button");
                    button.id = "cID" + imageiid;
                    console.log(button.id)
                    button.className = "change"
                    button.innerHTML = 'Change'; 
                    button.setAttribute('onclick', "getRandomImage()");
                    var ciid=button.id;
                    console.log(ciid)
                    document.getElementById("image_section").appendChild(button); 
                }
            })
        });

    });
  
    
    
    
    
  






    // $(document).ready(function () {
    //     $("#Kcode").select2({
    //         ajax: {
    //             url: "{% url 'codesuggest' %}",
    //             dataType: "json",
    //             delay: 1000,
    //             processResults: function (data, params) {
    //                 params.page = params.page || 1;

    //                 return {
    //                     results: data.results,
    //                     pagination: {
    //                         more: params.page * 10 < data.count_filtered,
    //                     },
    //                 };
    //             },
    //         },
    //         minimumInputLength: 0,
    //     });
    // });

    // const sendAjax = () => {
    //     $(".ajax-loader").show();
    //     kcode = $("#Kcode").val();
    //     $.ajax({
    //         type: "POST", // define the type of HTTP verb we want to use (POST for our form)
    //         url: "{% url 'getImage' %}", // the url where we want to POST
    //         data: {
    //             kcode: kcode,
    //             csrfmiddlewaretoken: "{{ csrf_token }}",
    //         }, // our form data
    //         success: successFunction,
    //     });
    // };
    // const sendAjax2 = () => {
    //     $(".ajax-loader").show();
    //     kcode = $("#Kcode").val();
    //     $.ajax({
    //         type: "POST", // define the type of HTTP verb we want to use (POST for our form)
    //         url: "{% url 'getImage' %}", // the url where we want to POST
    //         data: {
    //             kcode: kcode,
    //             csrfmiddlewaretoken: "{{ csrf_token }}",
    //         }, // our form data
    //         success: successFunction,
    //     });
    // };


//   function successFunction(data) {
//     console.log(data);
//     var element = document.getElementById("image_section");
//     var df = data.df;
//     var tb = document.createElement("table");
//     var tbl = document.createElement("table");
//     tbl.style.width = "100%";
//     tbl.setAttribute("border", "1");
//     var tbdy = document.createElement("tbody");
//     var thead = document.createElement("thead");

//     var th = document.createElement("th");
//     for (var j = 0; j < df[0].length; j++) {
//       var td = document.createElement("td");
//       var text = document.createTextNode(j);
//       td.appendChild(text);
//       th.appendChild(td);
//     }
//     thead.appendChild(th);
//     for (var i = 0; i < df.length; i++) {
//       var tr = document.createElement("tr");
//       for (var j = 0; j < df[0].length; j++) {
//         var td = document.createElement("td");
//         var text = document.createTextNode(df[i][j]);
//         td.appendChild(text);
//         tr.appendChild(td);

//         if (i == 1) {
//           td.style.transform = "translate(0, 20px) rotate(270deg)";
//         }
//         if (i > 1 && i < 11) {
//           td.style.width = "30px";
//           if (df[i][j] >= 225) {
//             td.className = "_225-255";
//           } else if (df[i][j] >= 200) {
//             td.className = "_200-224";
//           } else if (df[i][j] >= 175) {
//             td.className = "_175-199";
//           } else if (df[i][j] >= 150) {
//             td.className = "_150-174";
//           } else if (df[i][j] >= 125) {
//             td.className = "_125-149";
//           } else if (df[i][j] >= 100) {
//             td.className = "_100-124";
//           } else if (df[i][j] >= 75) {
//             td.className = "_75-99";
//           } else if (df[i][j] >= 50) {
//             td.className = "_50-74";
//           } else if (df[i][j] >= 25) {
//             td.className = "_25-49";
//           } else {
//             td.className = "_0-24";
//           }
//         }
//       }
//       tbdy.appendChild(tr);
//     }
//     tb.appendChild(thead);
//     tbl.appendChild(tbdy);
//     element.appendChild(tb);
//     element.appendChild(tbl);
//     /*var temp = '<table id="tabe_id" class="display mx-auto" border="1"> <thead><tr class="tr3">'
//         element.innerHTML += temp
//         for (var i = 0; i < df.length; i++) {
//             for (var j = 0; j < df[0].length; j++) {
//                 var temp = '<th class=""><div>'
//                 element.innerHTML += temp
//                 temp = df[i][j]
//                 element.innerHTML += temp
//                 var temp = '</div></th>'
//                 element.innerHTML += temp
//             }
//         }
//         var end  = '</tr></thead></table>'
//         element.innerHTML += end*/
//   } 


</script>


{% endblock js %}