{% extends 'designs/base.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col">
    <div class="newtab">
      <div class="tab px-2" style="height:50px;">
        <select name="opt1" id="opt1" class="custom-select w-25 p-1 mt-4">
          <!-- <option selected disabled="true" ></option> -->
          <option selected value="Full">Full</option>
          <option value="Diffused">Diffused</option>
        </select>
        <select class="custom-select w-25 p-1 mt-4" id="img" name="img">
          <option class="dropdown_link" disabled="true" selected> -- Choose Image-- </option>
          {% for results in filename %}
          <option value="{{ results}}">{{results}}</option>
          {% endfor %}
        </select> <br>
        <button id="submitbtn" onclick="sendAjax()" class="btn btn-info btn-mm float-right  mr-2">Submit</button>
        <div class="imgclass" id="imgcontainer">
          {% for i in 5|lrange %}
          <div id="div{{i}}" class="d-none"><br>
           <a href="{{data}}" id="down" download class="btn btn-primary"  target="_blank" >Download</a>
            <table style="font-size:10px;" id="example" border='1' class="rr{{i}}">
            <button class="close"id="div{{i}}" onclick="closeTable(this.id)">X</button>
              <thead>
                <tr class="rr{{i}}">
                  {% for i in columns %}
                  <th class="editable">
                    <div>{{i}}</div>
                  </th>
                  {%endfor%}
                </tr>
              </thead>
              <tbody>
                {% for x in row3 %}
                <tr class="rr{{i}} tr-nth-2nd">
                  {% for j in x %}
                  {% if j == -1 %}
                  <td>
                    <div contenteditable="false"></div>
                  </td>
                  {%elif j|to_int >= 225 and j|to_int <= 255%} <td class="_225-255">
                    <div contenteditable="false">{{j}}</div>
                    </td>
                    {%elif j|to_int >= 200 and j|to_int <= 224%} <td class="_200-224">
                      <div contenteditable="false">{{j}}</div>
                      </td>
                      {%elif j|to_int >= 175 and j|to_int <= 199%} <td class="_175-199">
                        <div contenteditable="false">{{j}}</div>
                        </td>
                        {%elif j|to_int >= 150 and j|to_int <= 174%} <td class="_150-174">
                          <div contenteditable="false">{{j}}</div>
                          </td>
                          {%elif j|to_int >= 125 and j|to_int <= 149%} <td class="_125-149">
                            <div contenteditable="false">{{j}}</div>
                            </td>
                            {%elif j|to_int >= 100 and j|to_int <= 124%} <td class="_100-124">
                              <div contenteditable="false">{{j}}</div>
                              </td>
                              {%elif j|to_int >= 75 and j|to_int <= 99%} <td class="_75-99">
                                <div contenteditable="false">{{j}}</div>
                                </td>
                                {%elif j|to_int >= 50 and j|to_int <= 74%} <td class="_50-74">
                                  <div contenteditable="false">{{j}}</div>
                                  </td>
                                  {%elif j|to_int >= 25 and j|to_int <= 49%} <td class="_25-49">
                                    <div contenteditable="false">{{j}}</div>
                                    </td>
                                    {%else%}
                                    <td>
                                      <div contenteditable="false" class="something">{{j}}</div>
                                    </td>
                                    {%endif%}
                                    {%endfor%}
                </tr>
                {%endfor%}
              </tbody>

            </table>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
{% block js %}

<script>
  var count = 0;
  imagearray = [];
  var counttable = 0;
  var closeid = 0
  const sendAjax = () => {
    count++;
    if (count <= 5 && !imagearray.includes($("#img").val())) {
      image1 = $("#img").val();
      console.log(image1);
      console.log(document.getElementById(image1));
      console.log($("#opt1").val());
      $.ajax({
        type: "GET",
        url: "{% url 'showimage' %}", // the url where we want to POST
        data: {
          image_name: image1,
          option: $("#opt1").val()
         
        }, // our form data
        
        success: function (data) {
          console.log(data);
          rows = document.getElementsByClassName("rr" + counttable);
          for (var i = 3; i < rows.length - 1; i++) {

            for (var j = 0; j < rows[i].cells.length; j++) {

              if (typeof data.row4[i - 3][j] == "string") {
                rows[i].cells[j].innerText = data.row4[i - 3][j]

                rows[i].cells[j].className = '_0-24'
              } else {
                console.log("x")
                rows[i].cells[j].innerText = Math.floor(data.row4[i - 3][j])
                if (parseFloat(rows[i].cells[j].innerText) >= 225) {
                  rows[i].cells[j].className = '_225-255'
                }
                else if (parseFloat(rows[i].cells[j].innerText) >= 200) {
                  rows[i].cells[j].className = '_200-224'
                }
                else if (parseFloat(rows[i].cells[j].innerText) >= 175) {
                  rows[i].cells[j].className = '_175-199'
                }
                else if (parseFloat(rows[i].cells[j].innerText) >= 150) {
                  rows[i].cells[j].className = '_150-174'
                }
                else if (parseFloat(rows[i].cells[j].innerText) >= 125) {
                  rows[i].cells[j].className = '_125-149'
                }
                else if (parseFloat(rows[i].cells[j].innerText) >= 100) {
                  rows[i].cells[j].className = '_100-124'
                }
                else if (parseFloat(rows[i].cells[j].innerText) >= 75) {
                  rows[i].cells[j].className = '_75-99'
                }
                else if (parseFloat(rows[i].cells[j].innerText) >= 50) {
                  rows[i].cells[j].className = '_50-74'
                }
                else if (parseFloat(rows[i].cells[j].innerText) >= 25) {
                  rows[i].cells[j].className = '_25-49'
                }
                else {
                  rows[i].cells[j].className = '_0-24'
                }
              }
            }
          }
          var a = document.getElementById("div" + counttable);
          console.log(a)
          a.classList.remove("d-none");
          a.classList.add("tablenew");
          counttable++;


          //Close button part////

          

          // //download button part// 
          // var abuttons = document.createElement('a');
          // abuttons.href = imagesrc
          // console.log(abuttons)
          // abuttons.id = "aID" + imageID;
          // abuttons.className = "fa fa-download";
          // abuttons.download = imagesrc;
          // abuttons.target = "_blank"


          // document.getElementById("imgcontainer").appendChild(image);
          //document.getElementById("div0").appendChild(buttons);
          // document.getElementById("imgcontainer").appendChild(abuttons);




        },
      });
    }

  };
  function closeTable(id) {
    var k = document.getElementById(id)
    console.log(k)
    var arr = []
    while (k) {
      arr.push(k)
      k.id = 'ID'
      k = document.getElementById(id);
    }
    console.log(arr)
    for (var i = 0; i < arr.length; i++) {
      arr[i].remove();
    }
  }
</script>

{% endblock js %}