/* #body-row {
    margin-left:0px;
    margin-right:0px;
} */

#sidebar-container .list-group a {
  height: 70px;
  color: black;
}

#top_n {
  margin-top: 80px;
}

#nav-tabs {
  margin-top: 30px;
}

/* Tabs css starts here */

.tabs {
  display: flex;
  flex-wrap: wrap;
  height: 10px;
  /* width:100% */
}

.tabs label {
  order: 1;
  display: block;
  padding: 10px 15px;
  margin-right: 0.2rem;
  margin-bottom: 0px;
  cursor: pointer;
  background: #90caf9;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99;
  width: 100%;
  margin-right: 0px;
  display: none;
  background: #fff;
}
.newtab {
  width: 100%;
  margin-right: 0px;
  margin-top: 27px;
  /* margin-left: 67px; */
  /* display:none; */
  background: #fff;
}

.tab {
  width: 100%;
  margin-right: 0px;
}

.tabs input[type="radio"] {
  display: none;
}
.tabs input[type="radio"]:checked + label {
  background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.body-main {
  background: rgb(235, 230, 230);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.tab {
  height: 100%;
  min-height: 300.1vh;
  overflow: hidden;
  width: 100%;
  /* scroll-behavior:none; */
  /* max-height: 85.1vh; */
}

/* .tabname{
    border-radius: 9px 9px 2px 0px;
} */

.modal {
  position: absolute;
  top: 10px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.effectimg {
  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.6);
  color: black;
  /* opacity: 0; */
}
.effectimg:hover {
  filter: brightness(30%);
}

#res-circle {
  /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
  width: 6%;
  border-radius: 50%;
  margin-left: 94.4%;
  bottom: 70px;

  /* position: fixe; */
  /* (B) BACKGROUND COLOR */
  background: #bcd6ff;

  /* (C) NECESSARY TO POSITION TEXT BLOCK */
  line-height: 0;
  position: relative;
}

/* (D) MATCH HEIGHT */
#res-circle::after {
  content: "";
  display: block;
  padding-bottom: 105%;
  /* position: absolute; */
  right: 0;
}

/* (E) TEXT BLOCK */
.circle-txt {
  /* (E1) CENTER TEXT IN CIRCLE */
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-size: 25px;

  /* (E2) THE FONT - NOT REALLY IMPORTANT */
  font-family: arial, sans-serif;
  font-weight: bold;
}

.select_drop {
  width: 27%;
  margin: 10px;
}

.custom-select {
  display: block;
  padding: 5px;
  float: right;
  position: relative;
  margin-right: 10px;
  /* margin: auto;
    margin-top:10px;
    position: relative;
    padding:1em 1em;
    border:2px solid black;
    border-radius: 9px;
    margin-left: .6%; */
  /* margin-top: 10px;
    position: relative;
    padding: 1em 2em;
    border: 2px solid black; */
}

.dropdown1 {
  margin: auto;
  margin-top: 10px;
  position: relative;
  padding: 1em 1em;
  border: 2px solid black;
  border-radius: 9px;
  margin-left: 20.6%;
}
.dropdown_link {
  color: black;
  text-decoration: none;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  /* border: 1px solid black;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    transform: translateY(-100%) scale(0);
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease; */
}

#btnlaunch {
  margin-top: 10px;
  border-radius: 5px;
}

#drop1 {
  margin: auto;
  margin-top: 10px;
  position: relative;
  padding: 1em 1em;
  border: 2px solid black;
  border-radius: 9px;
  width: 31.2%;
  /* margin-top: 10px;
    position: relative;
    padding: 1em 2em;
    border: 2px solid black; */
}
#drop2 {
  margin: auto;
  margin-top: 10px;
  position: relative;
  padding: 1em 1em;
  border: 2px solid black;
  border-radius: 9px;
  width: 31.2%;
  /* margin-top: 10px;
    position: relative;
    padding: 1em 2em;
    border: 2px solid black; */
}
#drop3 {
  margin: auto;
  margin-top: 10px;
  position: relative;
  padding: 1em 1em;
  border: 2px solid black;
  border-radius: 9px;
  width: 31.2%;

  /* margin-top: 10px;
    position: relative;
    padding: 1em 2em;
    border: 2px solid black; */
}
#opt1 {
  margin: auto;
  margin-top: 10px;
  position: relative;
  margin-left: 26px;
  padding: 1em 1em;
  border: 2px solid black;
  border-radius: 9px;
  /* margin-top: 10px;
    position: relative;
    padding: 1em 2em;
    border: 2px solid black; */
}
#img {
  margin: auto;
  margin-top: 10px;
  position: relative;
  padding: 1em 1em;
  border: 2px solid black;
  border-radius: 9px;
  /* margin-top: 10px;
    position: relative;
    padding: 1em 2em;
    border: 2px solid black; */
}

.dropdown_link {
  color: black;
  text-decoration: none;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  /* border: 1px solid black;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    transform: translateY(-100%) scale(0);
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease; */
}

.hhj {
  background-color: #4723d9;
  color: white;
}

#searchfull {
  width: 170px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: "fa fa-search";
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 3px 12px;
  -webkit-transition: width 0.4s ease-in-out right;
  transition: width 0.4s ease-in-out;
}
#searchfull:focus {
  width: 20%;
}

.btnsubmit:before {
  opacity: 1;
  text-indent: 0px;
}

.effectimg {
  overflow: hidden;
  position: relative;
  margin: 15px;
  height: auto;
}

.menu-collapsed span:hover {
  color: black;
  border-bottom: 3px solid #fff;
}

#card {
  width: 100%;
}

#overall {
  width: 40%;
  padding: 4px 8px;
  margin: 7px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#top {
  width: 40%;
  padding: 4px 8px;
  margin: 7px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#medium {
  width: 40%;
  padding: 4px 8px;
  margin: 7px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#low {
  width: 40%;
  padding: 4px 8px;
  margin: 7px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#match {
  width: 60%;
  padding: 4px 8px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#match2 {
  width: 50%;
  padding: 4px 8px;
  margin: 7px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#form-container {
  border-radius: 5px;
  background-color: black;
  padding: 20px;
}

.close {
  font-size: 21pt;
  margin-left: 995px;
  margin-top: 40px;
  /* margin-bottom: 5000px; */
  position: absolute;
  border: solid black;
  padding-top: 550px;
  /* color: white; */
}

.fa-download {
  position: relative;
  top: -205px;
  right: 69px;
  font-size: 7em;
  color: white;
}

.cbutton {
  padding: 6px 6px;
  border-radius: 10px;
  background-color: rgba(247, 117, 43, 0.966);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.fbutton {
  padding: 6px 6px;
  border-radius: 10px;
  background-color: #2e8b57;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.content {
  justify-content: center;
}

#nondrop {
  margin-left: 900px;
}

/* Table css */
tr:nth-child(2) > td {
  height: 10vh;
  text-align: center;
  white-space: nowrap;
  border: none;
}
.tr-nth-2nd:nth-child(2) > td {
  height: 20vh;
  text-align: center;
  white-space: nowrap;
  border: none;
}

@media screen and (max-width: 992px) {
  tr:nth-child(2) > td {
    height: 16vh;
  }
}
@media screen and (max-width: 500px) {
  tr:nth-child(2) > td {
    height: 20vh;
  }
}
tr:nth-child(2) > td > div {
  transform: translate(0, 20px) rotate(270deg);
  width: 0.2vw;
  text-align: center;
  padding-left: 5px;
}
.tr-nth-2nd:nth-child(2) > td > div {
  transform: translate(0, 50px) rotate(270deg);
  width: 0.2vw;
  text-align: center;
  padding-left: 5px;
}
/* >td>div {
        transform: translate(0, 20px) rotate(270deg);
        width: 0.1vw;
        text-align: center;
    } */
th {
  background-color: #7e7eff;
}
tr:nth-child(1),
tr:nth-child(13),
td:nth-child(51) {
  background-color: #f8b11f !important;
}
tr:nth-child(2),
td:nth-child(50),
tr:nth-child(12),
tr:nth-child(12) td {
  background-color: #fff7a9;
  color: black;
}
table {
  font-size: 4px;
  font-weight: bold;
  text-align: center;
}
._225-255 {
  background-color: black;
  color: white;
}
._200-224 {
  background-color: #2c2c2c;
  color: white;
}
._175-199 {
  background-color: #444444;
  color: white;
}
._150-174 {
  background-color: #5c5c5c;
  color: white;
}
._125-149 {
  background-color: #6b6b6b;
  color: white;
}
._100-124 {
  background-color: #868686;
  color: white;
}
._75-99 {
  background-color: #a9a9a9;
  color: black;
}
._50-74 {
  background-color: #bcbcbc;
  color: black;
}
._25-49 {
  background-color: #d2d2d2;
  color: black;
}
._0-24 {
  background-color: #ffffff;
  color: black;
}
.isDisabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}
.thres_font {
  font-size: 10px;
  width: 150px;
}
